{% extends "base.html" %}
{% block content %}
<div class="container-fluid py-3">
  <a href="{{ url_for('drive_clients.index') }}" class="btn btn-sm btn-outline-secondary mb-3">← Back</a>
  <div class="card shadow-sm"><div class="card-body">
    <h4>{{ client.client_id }}</h4>
    <dl class="row mb-0">
      <dt class="col-sm-3">User</dt><dd class="col-sm-9">{{ client.client_name or '-' }}</dd>
      <dt class="col-sm-3">IP</dt><dd class="col-sm-9">{{ client.client_ip or '-' }}</dd>
      <dt class="col-sm-3">Type</dt><dd class="col-sm-9">{{ client.client_type or '-' }}</dd>
      <dt class="col-sm-3">Version</dt><dd class="col-sm-9">{{ client.client_version or '-' }}</dd>
      <dt class="col-sm-3">Status</dt><dd class="col-sm-9">{{ client.client_status or '-' }}</dd>
      <dt class="col-sm-3">Location</dt><dd class="col-sm-9">{{ client.client_location or '-' }}</dd>
    </dl>
  </div></div>
</div>
{% endblock %}
